In [1]:
100 + 200

300

# 파이썬 데이터 분석 (주석)

- 변수의 개념과 이해 
- 변수 : 데이터를 들고다닐 수 있는 공간 (메모리)
- 변수를 선언한다 : 등호(=)기호를 기준으로 오른쪽의 데이터를 왼쪽에 단어로 표현

In [2]:
300 * 3  # 숫자데이터 곱셈

900

In [3]:
a = 30 # 30이라는 값을 a 이름의 변수로 선언 
b = 3

In [4]:
a

30

In [5]:
a + b # 숫자 데이터의 덧셈

33

In [6]:
a - b # 숫자 데이터의 뺄셈

27

In [7]:
a * 2 # 숫자 데이터의 곱셈 (변수 x 숫자)

60

In [8]:
a / b # 숫자 데이터의 나눗셈

10.0

In [9]:
a ** 3 # 숫자 데이터 제곱 (30의 세제곱)

27000

In [10]:
a // 2 # 나눗셈을 한 몫

15

In [11]:
a % 3  # 나눗셈을 한 나머지

0

In [12]:
# 문자 데이터 (따옴표 또는 쌍따옴표)
data1 = '파이썬'

In [13]:
data1

'파이썬'

In [14]:
data2 = 'Python'
data3 = 'Data'

In [15]:
data2 + data3 # 문자데이터의 덧셈 (글자를 이어붙여 써준다)

'PythonData'

In [16]:
data4 = '345'

In [17]:
type(data4)

str

- 데이터 타입 : 연속형(숫자) / 범주형(문자)
- 데이터 타입에 따라 분석의 방법이 달라짐. 
- 연속형(숫자) :int (정수) / float (실수)
- 범주형(문자) :str (문자열)

In [18]:
data2 * 2 # 문자 데이터를 중복해서 출력

'PythonPython'

# 데이터 자료형 

- 프로그래밍 언어에서 두개 이상의 여러가지 데이터를 들고 다닐때 사용하는 공간 
- 4가지 자료형 : List / Tuple / Set / Dictionary

In [19]:
# List (리스트) : 가장 많이 사용되는 자료형 [ ]
# 각각의 데이터에 순서가 존재 / 추가,삭제,변경 가능 / 똑같은 데이터를 중복해서 작성 
data4 = [10,20,30,50,5]
data4

[10, 20, 30, 50, 5]

In [20]:
type(data4)

list

In [21]:
# 리스트는 특정 위치의 데이터를 찾을 수 있다. (indexing, 색인)
data5 = ['국어','수학','사회','과학']

In [22]:
data5

['국어', '수학', '사회', '과학']

In [23]:
data5[0] # 0번째 위치에 있는 '국어'라는 데이터를 불러오기

'국어'

In [24]:
data5[1] # 1번째 위치에 있는 '수학'데이터 추출

'수학'

In [25]:
data5[0:2] # 0번째 부터 2번째 전까지(1번째) 데이터를 범위 추출

['국어', '수학']

In [27]:
data6 = data5[1:3]

In [28]:
data6

['수학', '사회']

In [29]:
# 새로 데이터를 추가 / 기존 데이터를 삭제, 변경
data5

['국어', '수학', '사회', '과학']

In [30]:
data5.append('영어') # 새로 데이터를 추가하는 함수 (append)

In [31]:
data5

['국어', '수학', '사회', '과학', '영어']

In [32]:
data5.remove('수학') # 기존에 있는 데이터를 삭제 하는 함수 (remove)

In [33]:
data5

['국어', '사회', '과학', '영어']

In [34]:
data5.insert(0,'한국사') # 특정 위치에 특정 데이터를 입력하는 함수 (insert)

In [35]:
data5

['한국사', '국어', '사회', '과학', '영어']

In [37]:
data5[2] = '물리' # 특정 위치에 있는 데이터를 다른 데이터로 변경

In [38]:
data5

['한국사', '국어', '물리', '과학', '영어']

In [39]:
data5[2] = ""

In [40]:
data5

['한국사', '국어', '', '과학', '영어']

In [41]:
# Tuple (튜플) 
# 추가/삭제/ 변경이 불가능 
data6 = (100,200,300)
data6

(100, 200, 300)

In [42]:
type(data6)

tuple

In [43]:
data6.append(700)

AttributeError: 'tuple' object has no attribute 'append'

In [44]:
data6[0]

100

In [46]:
# Set (셋, 집합)
# 수학에서 집합 
# 순서가 없고 / 중복이 허용되지 않음 
data7 = {10,50,3,100,100,100}
data7

{3, 10, 50, 100}

In [47]:
data7[0] # 순서가 없는 Set 구조

TypeError: 'set' object is not subscriptable

In [48]:
data8 = {10,20,30,40,50}
data9 = {40,50,60,70,80}

In [49]:
data8 & data9  # 교집합 연산

{40, 50}

In [50]:
data8 | data9 # 합집합 연산

{10, 20, 30, 40, 50, 60, 70, 80}

In [51]:
data9 - data8 # 차집합 연산

{60, 70, 80}

In [52]:
data8 ^ data9 # 대상차집합 (교집합을 제외한 나머지)

{10, 20, 30, 60, 70, 80}

In [53]:
# Dictionary (딕셔너리, 사전)
# Key - Value Pair (키-값 쌍)
data10 = {'이름':'홍길동' , '나이':29 , '거주지':'서울'}
data10

{'이름': '홍길동', '나이': 29, '거주지': '서울'}

In [54]:
type(data10)

dict

In [55]:
data10['이름']

'홍길동'

In [56]:
data10['거주지']

'서울'

# 구문 (Statement) 

- 조건문 (if) : 특정 조건에 따라 코드를 수행 
- 반복문 (for/while) : 특정 범위에 따라 반복해서 코드를 수행

In [58]:
data11 = 40 

if data11 > 20:  # 비교구문 / data11이 20보다 크다면, 아래 종속문장을 수행 
    print('data11은 20보다 크다')
else:            # 위의 조건이 맞지 않는다면, 아래 종속 문장을 수행  
    print('data11은 20보다 작다')

# 들여쓰기 : 공백(space bar, tab)을 이용해서, 문장의 종속관계를 표현하는 방법

data11은 20보다 크다

In [61]:
# 비교 구문
# True / False -> 논리형 (bool)
data12 = 50

In [62]:
data12 >= 30 # 크거나 같은지 확인

True

In [63]:
data12 <= 5  #  작거나 같은지 확인

False

In [64]:
data12 == 50 # 두 값이 서로 같은지 확인

True

In [66]:
data12 != 50 # 두 값이 서로 다른지 확인 (not equal)

False

In [68]:
# 여러가지 조건을 걸어 프로그램을 수행 (else if => elif)
score_data = 89

if score_data >= 90:
    print('A')
elif score_data >=80:
    print('B')
elif score_data >= 70:
    print('C')
elif score_data >= 60:
    print('D')
else:
    print('F')

B

In [69]:
# For 반복문 : 특정 설정된 범위 만큼 프로그램이 수행 
# range(n, m) : 특정 범위 내 정수를 하나씩 출력 하는 함수 
#               n번 부터 m번 이전 까지 
for i in range(1,10): # 1부터 9까지 데이터를 가져와서 i 값에 선언 
    print(i)

1
2
3
4
5
6
7
8
9

In [73]:
for i in [10,50,100]: # 리스트 내 값을 순서대로 i에 선언하면서 
    print(i,100, 500)          # 아래 종속된문장이 반복되어 수행

10 100 500
50 100 500
100 100 500

In [71]:
for i in [10,50,100]: print(i)

10
50
100

In [74]:
sum_data = 0 
for i in range(1,11):
    sum_data = sum_data + i 
    print(sum_data)

1
3
6
10
15
21
28
36
45
55

In [75]:
sum_data = 0 
for i in [100,200,300]:
    sum_data = sum_data + i 
    print(sum_data)

100
300
600

In [76]:
sum([100,200,300]) # 함수

600

In [ ]:
# function( )
# data[ ] / data = [ ]

# 라이브러리 

- 특정 목적을 수행하는 함수들의 집합

In [78]:
import pandas as pd   
# 함수 사용하기 위해 pandas 라이브러리 불러온 뒤, pd 약어로 사용  
# Pandas (Panel + Dataset) : 
# 정형데이터(excel, csv, sql ...)를 처리 하고 분석할 때 사용

In [80]:
df1 = pd.read_csv('Data02.csv')

In [82]:
df1.pivot_table(index='주문경로', values='상품구매금액')

              상품구매금액
주문경로
PC쇼핑몰   68365.458844
네이버 페이  82433.872374
모바일웹    68979.561815