In [2]:
100 + 200

300

# 파이썬 데이터 분석 (주석: Markdown)
- 변수의 개념과 이해

In [3]:
300 * 3 # 숫자데이터 곱셈

900

In [21]:
a = 30
b = 3

In [6]:
a

30

In [7]:
b

3

In [8]:
a + b # 더하기

33

In [10]:
a - b # 빼기

27

In [12]:
a * 2 # 곱하기

60

In [14]:
a / 2 # 나누기

15.0

In [22]:
a ** 3 # 30의 세제곱 (**)

27000

In [23]:
a // 2 # 나눗셈에서의 몫 (//)

15

In [25]:
a % 3 # 나눗셈에서의 나머지 (%)

0

In [29]:
# 문자 데이터 (따옴표 또는 쌍따옴표)
data1 = '파이썬'

In [31]:
data1

'파이썬'

In [33]:
data2 = 'Python'
data3 = 'Data'

In [36]:
data2 + data3 # 문자데이터의 덧셈

'PythonData'

In [45]:
data4 = '345'

In [47]:
type(data4) # str은 string 으로

str

- 데이터 타입 : 연속형(숫자) / 범주형(문자)
- 데이터 타입에 따라 분석의 방법이 달라짐.
 - 연속형(숫자) : int(정수) / float(실수)
 - 범주형(문자) : str(문자열)

In [49]:
data2 * 2

'PythonPython'

# 데이터 자료형

- 프로그래밍 언어에서 2개 이상의 여러가지 데이터를 들고 다닐 때 사용하는 공간
- 4가지 자료형 : List / Tuple / Set / Dictionary

In [51]:
# List (리스트) : 가장 많이 사용되는 자료형이며, 대괄호[]를 사용한다
# 각각의 데이터에 순서가 존재 / 데이터를 추가 또는 삭제 또는 변경이 가능 / 똑같은 데이터를 중복해서 작성
data4 = [10, 20, 30, 50, 5]
data4

[10, 20, 30, 50, 5]

In [53]:
type(data4)

list

In [56]:
# List는 특정 위치 데이터를 찾을 수 있다. (indexing)
data5 = ['국어', '수학', '사회', '과학']
data5

['국어', '수학', '사회', '과학']

In [58]:
type(data5)

list

In [60]:
data5[0]

'국어'

In [62]:
data5[1]

'수학'

In [64]:
data5[0:]

['국어', '수학', '사회', '과학']

In [68]:
data5[0:2]

['국어', '수학']

In [71]:
data6 = data5[1:3]

In [73]:
data6

['수학', '사회']

In [75]:
# 새로 데이터를 추가하거나 기존 데이터를 삭제 또는 변경
data5

['국어', '수학', '사회', '과학']

In [84]:
data5.append('영어') # 새로 데이터를 추가하는 함수가 append() 이다.

In [87]:
data5

['국어', '사회', '과학', '영어', '영어', '영어']

In [97]:
data5.remove('영어') # 기존 데이터를 삭제하는 함수가 remove() 이다.

In [98]:
data5

['한국사', '한국사', '국어', '사회', '과학', '영어']

In [99]:
data5.insert(0, '한국사')  # 특정 위치에 특정 데이터를 입력하는 함수 insert() 이다.

In [100]:
data5

['한국사', '한국사', '한국사', '국어', '사회', '과학', '영어']

In [102]:
data5 = ['국어', '수학', '사회', '과학']

In [104]:
data5

['국어', '수학', '사회', '과학']

In [106]:
data5[2] = '물리' # 특정 위치에 있는 데이터를 다른 데이터를 변경

In [110]:
data5

['국어', '수학', '물리', '과학']

In [112]:
# Tuple (튜플)
# 데이터를 추가/삭제/변경이 불가능
data6 = (100, 200, 300)
data6

(100, 200, 300)

In [114]:
type(data6)

tuple

In [115]:
data6.append(700)

AttributeError: 'tuple' object has no attribute 'append'

In [117]:
data6[0]

100

In [119]:
# set (셋, 집합)
# 수학에서 집합
# 순서가 없고 / 중복이 허용 안 됨
data7 = {10, 50, 3, 100, 100, 100}
data7

{3, 10, 50, 100}

In [121]:
data7[0] # 순서가 없는 set 구조

TypeError: 'set' object is not subscriptable

In [123]:
data8 = {10,20,30,40,50}
data9 = {40, 50, 60, 70, 80}

In [125]:
data8 & data9 # 교집합 연삭

{40, 50}

In [127]:
data8 | data9 # 함집합 연산

{10, 20, 30, 40, 50, 60, 70, 80}

In [129]:
data9 - data8 # 차집합 연산

{60, 70, 80}

In [133]:
data8 ^ data9 # 대상차집합 (교집합을 제외한 나머지)

{10, 20, 30, 60, 70, 80}

In [135]:
# Dictionary (딕셔너리, 사전)
# Key - Value Pair (키-값 쌍)
data10 = {'이름': '홍길동' , '나이': 29, '거주지': '서울'}
data10

{'이름': '홍길동', '나이': 29, '거주지': '서울'}

In [137]:
type(data10)

dict

In [139]:
data10['이름']

'홍길동'

In [141]:
data10['거주지']

'서울'

# 구문 (Statement)

- 조건문 (if) : 특정 조건에 따라 코드를 수행
- 반복분 (for/while) : 특정 범위에 따라 반복해서 코드를 수행

In [143]:
data11 = 40

if data11 > 20: # 비교구문 / data11이 20보다 크다면, 아래 종속문장을 수행
    print('data11은 20보다 크다')
else:           # 위의 조건이 맞지 않는다면, 아래 종속 문장을 수행
    print('data11은 20보다 작다')

# 들여쓰기 : 공백(space bar, tab)을 이용해, 문장의 종속관계를 표현하는 방법

data11은 20보다 크다

In [155]:
# 비교구문
# True / False -> 논리형 (bool)
data12 = 50

In [156]:
data12 >= 30 # 크거나 같은지 확인

True

In [157]:
data12 <= 5 # 작거나 같은지 확인

False

In [158]:
data12 == 50 # 두 값이 서로 같은지 확인

True

In [159]:
data12 == 20 # 두 값이 서로 같은지 확인

False

In [160]:
data12 != 50 # 두 값이 서로 다른지 확인 (not equal)

False

In [164]:
# 여러가지 조건을 걸어, 프로그램을 수행 (else if = elif)
score_data = 79

if score_data >= 90:
    print('A')
elif score_data >= 80:
    print('B')
elif score_data >= 70:
    print('C')
elif score_data >= 60:
    print('D')
else:
    print('F')

C

In [166]:
# for 반복문 : 특정 설정된 범위만큼 프로그램이 수행
# range(n, m) : 특정 범위 내 정수를 하나 씩 출력하는 함수
#               n번부터 m번 이전까지

for i in range(1, 10): # 1부터 9까지 데이터를 가져와서 i 값에 선언
    print(i)

1
2
3
4
5
6
7
8
9

In [169]:
for i in [10, 50, 100]: # 리스트 내 값을 순서대로 i에 선언하면서
    print(i)            # 아래 종속된 문장이 반복되어 수행

10
50
100

In [170]:
sum_data = 0
for i in range(1, 11):
    sum_data = sum_data + i
    print(sum_data)

1
3
6
10
15
21
28
36
45
55

In [176]:
sum_data = 0
for i in range[100, 200, 300]:
    sum_data = sum_data + i
    print(sum_data)

TypeError: 'type' object is not subscriptable

In [174]:
sum([100,200,300])

600

In [ ]:
# 함수일 땐 함수 뒤에 function() 소괄호 붙음

# 리스트 형태로 데이터를 묶을 때 [] 대괄호 붙음
# data = []
# data[]

# 라이브러리

- 특정 목적을 수행하는 함수들의 집합

In [177]:
import pandas as pd 
# 함수를 사용하기 위해 pandas 라이브러리를 불러온 뒤, pd 약어오 사용
# pandas (panel + dataset) :
# 정형데이터(excel, csv, sql, ...)를 처리하고 분석할 때 사용

In [179]:
df1 = pd.read_csv('Data02.csv')

In [180]:
df1

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231
...,...,...,...,...,...,...,...,...,...
46744,카드,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,52800,445.0,1,모바일웹,20171229
46745,카드,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,112200,172.0,2,모바일웹,20171229
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.0,1,네이버 페이,20171230
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.0,1,네이버 페이,20171231
46748,카드,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,81620,479.0,1,모바일웹,20171231

In [181]:
df1.pivot_table(index='주문경로', values='상품구매금액') # 평균

              상품구매금액
주문경로
PC쇼핑몰   68365.458844
네이버 페이  82433.872374
모바일웹    68979.561815