**Cell 사용법**
- 초록색 창 Code Mode : 코드를 입력 하는 상태 
- 파란색 창 Command Mode : Cell 편집하는 상태 
- Code Mode에서 ESC 키 -> Command Mode로 변환
     - a 키 (위로 셀을 생성) b 키 (아래로 셀을 생성) x 키 (셀을 삭제) 
     - m 키 (Markdown 모드로 전환) y 키 (code 모드로 전환)

In [1]:
import pandas as pd # import : 라이브러리를 스크립트에서 사용할 수 있도록 호출

In [2]:
# 데이터 파일을 read_csv 함수로 불러온뒤, df1 변수로 선언 
df1 = pd.read_csv('Data02.csv')

In [3]:
df1

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231
...,...,...,...,...,...,...,...,...,...
46744,카드,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,52800,445.0,1,모바일웹,20171229
46745,카드,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,112200,172.0,2,모바일웹,20171229
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.0,1,네이버 페이,20171230
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.0,1,네이버 페이,20171231
46748,카드,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,81620,479.0,1,모바일웹,20171231

# DDA (기술적 데이터 분석) 

- 데이터의 구조와 타입을 확인 
- 주 목표변수를 설정 
- 기술통계량 확인 

+ 데이터 전처리

**데이터의 구조 파악**

- 정형데이터의 구조 
    - index(row, 행, 데이터의 순서) : 데이터의 개수 확인  
    - columns (feature, 열, 항목) : 데이터의 타입 (문자/ 숫자/ 날짜)  
    - value (값) : 데이터

In [5]:
df1.info() # 데이터의 요약 (데이터의 구조 + 타입)
# Dtype : 문자(Object) / 숫자(int64 / float64)
# Null , 결측치(Missing Value) : 데이터가 비어있는 값 (공백) / NaN (Not A Number)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46749 entries, 0 to 46748
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   결제수단    46749 non-null  object
 1   배송번호    46749 non-null  object
 2   배송시작일   46749 non-null  object
 3   배송완료일   46749 non-null  object
 4   상품구매금액  46749 non-null  int64
 5   상품번호    46661 non-null  float64
 6   수량      46749 non-null  int64
 7   주문경로    46749 non-null  object
 8   주문일     46749 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

# 데이터 전처리 

- 데이터 추출 (행 단위/ 열 단위) 
- 데이터 정렬 
- 데이터 필터

In [7]:
# 행단위 추출 
df1.head() # 상위 5개의 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231

In [9]:
df1.head(10)  # 상위 10개 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231
5,무통장입금,D-20181231-0000108-01,2019-01-07 오전 8:56,2019-01-11 오전 5:32,75240,1374.0,1,모바일웹,20181231
6,무통장입금,D-20181231-0000184-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,82170,1071.0,1,PC쇼핑몰,20181231
7,무통장입금,D-20181231-0000184-01,2019-01-03 오전 9:30,2019-01-07 오전 5:32,63470,1373.0,1,PC쇼핑몰,20181231
8,무통장입금,D-20181231-0000184-02,2019-01-03 오전 9:30,2019-01-07 오전 5:32,300960,1374.0,4,PC쇼핑몰,20181231
9,무통장입금,D-20181231-0000184-03,2019-01-03 오전 9:30,2019-01-07 오전 5:32,121110,1037.0,1,PC쇼핑몰,20181231

In [10]:
df1.tail() # 하위 5개의 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
46744,카드,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,52800,445.0,1,모바일웹,20171229
46745,카드,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,112200,172.0,2,모바일웹,20171229
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.0,1,네이버 페이,20171230
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.0,1,네이버 페이,20171231
46748,카드,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,81620,479.0,1,모바일웹,20171231

In [11]:
df1.iloc[100:200] # iloc (index location) : 특정 범위의 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
100,무통장입금,D-20190102-0000213-00,2019-01-03 오전 9:28,2019-01-07 오전 5:32,72270,378.0,1,PC쇼핑몰,20190102
101,무통장입금,D-20190102-0000213-01,2019-01-03 오전 9:28,2019-01-07 오전 5:32,60280,1334.0,1,PC쇼핑몰,20190102
102,카드,D-20190102-0000224-01,2019-01-03 오전 9:30,2019-01-08 오후 2:01,134640,1282.0,2,네이버 페이,20190102
103,무통장입금,D-20190102-0000237-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,107910,1059.0,1,PC쇼핑몰,20190102
104,무통장입금,D-20190102-0000237-01,2019-01-03 오후 6:19,2019-01-07 오전 5:32,94710,1106.0,1,PC쇼핑몰,20190102
...,...,...,...,...,...,...,...,...,...
195,카드,D-20190102-0000938-03,2019-01-03 오후 6:20,2019-01-13 오전 4:38,72270,378.0,1,네이버 페이,20190102
196,무통장입금,D-20190102-0000951-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,122430,86.0,1,PC쇼핑몰,20190102
197,카드,D-20190102-0000964-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,51810,248.0,1,모바일웹,20190102
198,카드,D-20190102-0000976-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,76400,608.0,1,모바일웹,20190102
199,가상계좌,D-20190102-0000993-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,83550,962.0,1,PC쇼핑몰,20190102

In [12]:
df2 = df1.head(1000) # 상위 1000개 데이터를 추출하여, df2 변수로 선언

In [13]:
df2

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229
2,무통장입금,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,13910,1271.0,1,모바일웹,20181230
3,무통장입금,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,81600,1085.0,1,모바일웹,20181231
4,무통장입금,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,94710,1106.0,1,모바일웹,20181231
...,...,...,...,...,...,...,...,...,...
995,무통장입금,D-20190110-0000091-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,72270,378.0,1,PC쇼핑몰,20190110
996,카드,D-20190110-0000109-01,2019-01-11 오전 10:12,2019-01-19 오전 5:41,86790,451.0,1,네이버 페이,20190110
997,무통장입금,D-20190110-0000110-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,78870,603.0,1,PC쇼핑몰,20190110
998,무통장입금,D-20190110-0000122-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,173580,451.0,2,모바일웹,20190110
999,무통장입금,D-20190110-0000132-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,94710,1058.0,1,모바일웹,20190110

In [ ]:
# 설명ㅋㅋ

In [15]:
# 열단위 데이터 추출 (Series, 순열 : index - value, [ ])
df1['상품구매금액']

0         71450
1        141240
2         13910
3         81600
4         94710
          ...
46744     52800
46745    112200
46746     36000
46747     73460
46748     81620
Name: 상품구매금액, Length: 46749, dtype: int64

In [16]:
df1['상품구매금액'].mean() # 평균 값 계산

69368.14445228774

In [18]:
df1['상품구매금액'].sum() # 합 계산

3242891385

In [22]:
# DataFrame , 데이터프레임 : index-column-value , [[ ]]
df1[['상품구매금액','수량']] # 두개 이상의 항목을 추출

       상품구매금액  수량
0       71450   1
1      141240   2
2       13910   1
3       81600   1
4       94710   1
...       ...  ..
46744   52800   1
46745  112200   2
46746   36000   1
46747   73460   1
46748   81620   1

[46749 rows x 2 columns]

In [24]:
# 행과 열을 동시에 추출 
df1[['상품구매금액','수량','주문경로']].head(1000)

     상품구매금액  수량    주문경로
0     71450   1   PC쇼핑몰
1    141240   2    모바일웹
2     13910   1    모바일웹
3     81600   1    모바일웹
4     94710   1    모바일웹
..      ...  ..     ...
995   72270   1   PC쇼핑몰
996   86790   1  네이버 페이
997   78870   1   PC쇼핑몰
998  173580   2    모바일웹
999   94710   1    모바일웹

[1000 rows x 3 columns]

In [26]:
df1.head(1000)['수량']

0      1
1      2
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    2
999    1
Name: 수량, Length: 1000, dtype: int64

**데이터 정렬**

In [28]:
df1.sort_values(by='수량') # 오름차순 정렬 (데이터가 낮은 순서부터)

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
30310,무통장입금,D-20180824-0000184-00,2018-08-26 오후 6:32,2018-08-30 오전 5:32,77370,608.0,1,PC쇼핑몰,20180824
30311,무통장입금,D-20180824-0000184-00,2018-08-26 오후 6:32,2018-08-30 오전 5:32,0,1237.0,1,PC쇼핑몰,20180824
30312,카드,D-20180824-0000143-00,2018-08-26 오후 6:32,2018-08-30 오전 5:32,0,1237.0,1,모바일웹,20180824
30314,무통장입금,D-20180824-0000196-01,2018-08-27 오후 7:08,2018-08-31 오전 5:32,92380,1036.0,1,PC쇼핑몰,20180824
...,...,...,...,...,...,...,...,...,...
31697,무통장입금,D-20180907-0000185-01,2018-09-12 오후 6:31,2018-09-16 오전 5:32,1916750,953.0,17,PC쇼핑몰,20180907
29160,무통장입금,D-20180813-0000272-01,2018-08-13 오후 6:34,2018-08-17 오전 5:32,1825800,953.0,17,PC쇼핑몰,20180813
25539,카드,D-20180704-0000240-01,2018-07-05 오전 9:16,2018-07-13 오전 9:07,678400,219.0,20,네이버 페이,20180704
24512,무통장입금,D-20180620-0000432-00,2018-06-28 오후 6:34,2018-07-02 오전 5:32,4963400,92.0,46,PC쇼핑몰,20180620
38590,무통장입금,D-20181112-0000709-00,2018-11-16 오전 9:10,2018-11-20 오전 5:32,100000,581.0,50,PC쇼핑몰,20181112

In [29]:
df1.sort_values(by='수량', ascending=False) # 내림차순 정렬 (데이터가 높은 순서부터)

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
38590,무통장입금,D-20181112-0000709-00,2018-11-16 오전 9:10,2018-11-20 오전 5:32,100000,581.0,50,PC쇼핑몰,20181112
24512,무통장입금,D-20180620-0000432-00,2018-06-28 오후 6:34,2018-07-02 오전 5:32,4963400,92.0,46,PC쇼핑몰,20180620
25539,카드,D-20180704-0000240-01,2018-07-05 오전 9:16,2018-07-13 오전 9:07,678400,219.0,20,네이버 페이,20180704
29160,무통장입금,D-20180813-0000272-01,2018-08-13 오후 6:34,2018-08-17 오전 5:32,1825800,953.0,17,PC쇼핑몰,20180813
31697,무통장입금,D-20180907-0000185-01,2018-09-12 오후 6:31,2018-09-16 오전 5:32,1916750,953.0,17,PC쇼핑몰,20180907
...,...,...,...,...,...,...,...,...,...
17091,무통장입금,D-20190528-0000303-00,2019-05-29 오전 11:31,2019-06-02 오전 5:32,64070,1071.0,1,PC쇼핑몰,20190528
17092,무통장입금,D-20190528-0000303-01,2019-05-29 오전 11:31,2019-06-02 오전 5:32,74990,1375.0,1,PC쇼핑몰,20190528
17093,무통장입금,D-20190528-0000303-02,2019-05-29 오전 11:31,2019-06-02 오전 5:32,60900,1374.0,1,PC쇼핑몰,20190528
17094,무통장입금,D-20190528-0000303-03,2019-05-29 오전 11:31,2019-06-02 오전 5:32,52400,1373.0,1,PC쇼핑몰,20190528
46748,카드,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,81620,479.0,1,모바일웹,20171231

In [32]:
# '수량'이 높은 상위 100개 데이터를 추출하여, result1.xlsx 저장 
df1.sort_values(by='수량', ascending=False).head(100).to_excel('result.xlsx')

In [36]:
df1.sort_values(by='상품구매금액',ascending=False).head(50)

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
24512,무통장입금,D-20180620-0000432-00,2018-06-28 오후 6:34,2018-07-02 오전 5:32,4963400,92.0,46,PC쇼핑몰,20180620
20642,무통장입금,D-20180419-0000292-00,2018-04-21 오후 12:21,2018-04-25 오전 5:32,1920000,94.0,16,PC쇼핑몰,20180419
31697,무통장입금,D-20180907-0000185-01,2018-09-12 오후 6:31,2018-09-16 오전 5:32,1916750,953.0,17,PC쇼핑몰,20180907
29160,무통장입금,D-20180813-0000272-01,2018-08-13 오후 6:34,2018-08-17 오전 5:32,1825800,953.0,17,PC쇼핑몰,20180813
41229,무통장입금,D-20181203-0000345-00,2018-12-03 오후 6:49,2018-12-07 오전 5:32,1691250,953.0,15,PC쇼핑몰,20181203
33126,무통장입금,D-20180927-0000469-00,2018-09-28 오후 9:27,2018-10-02 오전 5:32,1691250,953.0,15,PC쇼핑몰,20180927
2615,무통장입금,D-20190125-0000167-00,2019-01-28 오전 8:49,2019-02-01 오전 5:32,1691250,953.0,15,PC쇼핑몰,20190125
8744,무통장입금,D-20190319-0000457-01,2019-03-20 오전 8:45,2019-03-24 오전 5:32,1470750,953.0,15,PC쇼핑몰,20190319
1541,카드,D-20190115-0000712-00,2019-01-17 오전 9:54,2019-01-21 오전 5:32,1325000,92.0,10,모바일웹,20190115
41162,무통장입금,D-20181203-0000084-01,2018-12-03 오후 6:49,2018-12-07 오전 5:32,1151700,68.0,10,PC쇼핑몰,20181203
11592,카드,D-20190411-0000315-02,2019-04-18 오전 9:44,2019-04-22 오전 5:32,1000000,1130.0,1,PC쇼핑몰,20190411
4332,무통장입금,D-20190212-0000558-11,2019-02-14 오후 6:39,2019-02-18 오전 5:32,1000000,1130.0,1,PC쇼핑몰,20190212
14878,무통장입금,D-20190508-0000724-01,2019-05-09 오후 6:32,2019-05-13 오전 5:32,980500,953.0,10,PC쇼핑몰,20190508
39170,무통장입금,D-20181116-0000268-00,2018-11-17 오후 6:57,2018-11-21 오전 5:32,927500,92.0,7,PC쇼핑몰,20181116
35042,무통장입금,D-20181016-0000420-00,2018-10-18 오후 5:06,2018-10-22 오전 5:32,867900,449.0,10,PC쇼핑몰,20181016
33273,"적립금,카드",D-20180928-0000623-02,2018-10-02 오전 8:54,2018-10-06 오전 5:32,833140,88.0,7,PC쇼핑몰,20180928
20721,카드,D-20180422-0000041-01,2018-04-23 오후 6:42,2018-04-24 오후 4:21,757000,481.0,10,네이버 페이,20180422
17215,"적립금,무통장입금",D-20190529-0000049-02,2019-05-30 오전 10:20,2019-06-03 오전 5:32,727500,172.0,15,PC쇼핑몰,20190529
32206,실시간계좌이체,D-20180913-0000080-00,2018-09-14 오전 10:49,2018-09-18 오전 5:32,706200,42.0,10,PC쇼핑몰,20180913
18467,카드,D-20180207-0000244-01,2018-02-07 오후 5:19,2018-02-19 오후 9:48,700000,603.0,10,네이버 페이,20180207
25539,카드,D-20180704-0000240-01,2018-07-05 오전 9:16,2018-07-13 오전 9:07,678400,219.0,20,네이버 페이,20180704
26925,"적립금,무통장입금",D-20180722-0000115-01,2018-07-24 오전 9:50,2018-07-28 오전 5:32,666880,1035.0,8,PC쇼핑몰,20180722
23686,무통장입금,D-20180608-0000087-00,2018-06-08 오후 6:01,2018-06-12 오전 5:32,638000,1187.0,1,PC쇼핑몰,20180608
28355,무통장입금,D-20180805-0000234-00,2018-08-06 오후 6:20,2018-08-10 오전 5:32,611000,94.0,5,모바일웹,20180805
31993,무통장입금,D-20180911-0000144-00,2018-09-12 오후 6:31,2018-09-16 오전 5:32,605550,1037.0,5,PC쇼핑몰,20180911
21419,카드,D-20180508-0000046-00,2018-05-08 오후 8:11,2018-05-12 오전 5:32,605400,172.0,10,PC쇼핑몰,20180508
41543,카드,D-20181205-0000128-01,2018-12-06 오전 9:02,2018-12-10 오전 5:32,601920,1374.0,8,모바일웹,20181205
246,"적립금,무통장입금",D-20190103-0000244-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,601920,1374.0,8,PC쇼핑몰,20190103
31586,카드,D-20180906-0000226-01,2018-09-07 오후 1:50,2018-09-14 오후 11:46,601000,388.0,10,네이버 페이,20180906
32898,카드,D-20180920-0000015-01,2018-09-20 오후 5:25,2018-09-24 오전 5:32,595100,88.0,5,PC쇼핑몰,20180920
40862,카드,D-20181129-0000610-01,2018-11-30 오후 6:14,2018-12-04 오전 5:32,591800,592.0,4,PC쇼핑몰,20181129
39946,카드,D-20181122-0000309-02,2018-11-22 오후 5:56,2018-11-26 오후 1:35,591800,592.0,4,네이버 페이,20181122
11588,"적립금,무통장입금",D-20190411-0000298-00,2019-04-11 오후 6:41,2019-04-15 오전 5:32,578500,1077.0,10,모바일웹,20190411
13681,"쿠폰,카드",D-20190429-0001348-00,2019-04-30 오후 6:33,2019-05-04 오전 5:32,572200,1282.0,10,모바일웹,20190429
8719,무통장입금,D-20190319-0000333-00,2019-03-21 오전 9:02,2019-03-25 오전 5:32,568900,1312.0,10,PC쇼핑몰,20190319
45885,"쿠폰,무통장입금",D-20170904-0000042-01,2017-09-04 오후 4:49,2017-09-10 오전 5:36,556200,376.0,6,PC쇼핑몰,20170904
30528,무통장입금,D-20180827-0000411-00,2018-08-28 오후 5:42,2018-09-01 오전 5:32,548000,68.0,5,PC쇼핑몰,20180827
4006,카드,D-20190209-0000261-02,2019-02-11 오후 6:58,2019-02-15 오전 5:32,526680,1374.0,7,모바일웹,20190209
3201,"적립금,카드",D-20190129-0000435-00,2019-01-29 오후 6:49,2019-02-02 오전 5:32,520740,451.0,6,모바일웹,20190129
39137,무통장입금,D-20181116-0000075-00,2018-11-17 오후 6:57,2018-11-21 오전 5:32,520740,449.0,6,PC쇼핑몰,20181116
22907,무통장입금,D-20180528-0000190-01,2018-05-28 오후 6:38,2018-06-01 오전 5:32,516950,1077.0,7,PC쇼핑몰,20180528
29067,무통장입금,D-20180811-0000096-00,2018-08-13 오후 6:34,2018-08-17 오전 5:32,512400,451.0,6,PC쇼핑몰,20180811
32811,"적립금,무통장입금",D-20180919-0000065-02,2018-09-20 오전 11:25,2018-09-24 오전 5:32,508860,1035.0,6,PC쇼핑몰,20180919
17064,무통장입금,D-20190528-0000136-02,2019-05-29 오전 11:31,2019-06-02 오전 5:32,500850,68.0,5,PC쇼핑몰,20190528
22645,실시간계좌이체,D-20180523-0000729-01,2018-05-25 오전 10:10,2018-05-29 오전 5:32,495760,455.0,8,PC쇼핑몰,20180523
35065,"카드,무통장입금",D-20181016-0000504-00,2018-10-18 오후 5:06,2018-10-22 오전 5:32,493350,1131.0,1,PC쇼핑몰,20181016
34545,무통장입금,D-20181011-0000498-03,2018-10-12 오후 5:52,2018-10-16 오전 5:32,493350,1131.0,1,PC쇼핑몰,20181011
34578,페이나우(카드),D-20181011-0000656-00,2018-10-12 오후 5:52,2018-10-16 오전 5:32,493350,1131.0,1,모바일웹,20181011
40501,카드,D-20181127-0000478-02,2018-11-27 오후 9:11,2018-12-01 오전 5:32,493350,1131.0,1,모바일웹,20181127
44559,카드,D-20181226-0001248-00,2018-12-28 오전 8:36,2019-01-01 오전 5:32,493350,1131.0,1,모바일웹,20181226

In [40]:
# 두 개 이상의 항목에 대해 정렬 
df1.sort_values(by=['수량','상품구매금액']) 
# 수량에 대해 정렬 후, 같은 수량일 때, 상품구매금액이 낮은 순서대로 정렬

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
17551,무통장입금,D-20171227-0000094-00,2018-01-02 오후 5:59,2018-01-06 오전 5:33,0,582.0,1,PC쇼핑몰,20171227
17558,카드,D-20180102-0000019-00,2018-01-02 오후 5:59,2018-01-06 오전 5:33,0,627.0,1,모바일웹,20180102
17562,무통장입금,D-20180102-0000022-00,2018-01-05 오전 10:02,2018-01-09 오전 5:35,0,583.0,1,PC쇼핑몰,20180102
17565,카드,D-20180102-0000045-00,2018-01-02 오후 5:59,2018-01-06 오전 5:33,0,352.0,1,모바일웹,20180102
17569,카드,D-20180102-0000073-00,2018-01-02 오후 5:59,2018-01-06 오전 5:33,0,360.0,1,PC쇼핑몰,20180102
...,...,...,...,...,...,...,...,...,...
29160,무통장입금,D-20180813-0000272-01,2018-08-13 오후 6:34,2018-08-17 오전 5:32,1825800,953.0,17,PC쇼핑몰,20180813
31697,무통장입금,D-20180907-0000185-01,2018-09-12 오후 6:31,2018-09-16 오전 5:32,1916750,953.0,17,PC쇼핑몰,20180907
25539,카드,D-20180704-0000240-01,2018-07-05 오전 9:16,2018-07-13 오전 9:07,678400,219.0,20,네이버 페이,20180704
24512,무통장입금,D-20180620-0000432-00,2018-06-28 오후 6:34,2018-07-02 오전 5:32,4963400,92.0,46,PC쇼핑몰,20180620
38590,무통장입금,D-20181112-0000709-00,2018-11-16 오전 9:10,2018-11-20 오전 5:32,100000,581.0,50,PC쇼핑몰,20181112

In [43]:
df1.sort_values(by=['수량','상품구매금액'],ascending=[True, False])
# 낮은 수량에 대해 정렬 후, 같은 수량일 때, 상품구매금액이 높은 순서대로 정렬

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
4332,무통장입금,D-20190212-0000558-11,2019-02-14 오후 6:39,2019-02-18 오전 5:32,1000000,1130.0,1,PC쇼핑몰,20190212
11592,카드,D-20190411-0000315-02,2019-04-18 오전 9:44,2019-04-22 오전 5:32,1000000,1130.0,1,PC쇼핑몰,20190411
23686,무통장입금,D-20180608-0000087-00,2018-06-08 오후 6:01,2018-06-12 오전 5:32,638000,1187.0,1,PC쇼핑몰,20180608
34259,무통장입금,D-20181009-0000381-00,2018-10-12 오후 5:52,2018-10-16 오전 5:32,493350,1131.0,1,PC쇼핑몰,20181009
34545,무통장입금,D-20181011-0000498-03,2018-10-12 오후 5:52,2018-10-16 오전 5:32,493350,1131.0,1,PC쇼핑몰,20181011
...,...,...,...,...,...,...,...,...,...
31697,무통장입금,D-20180907-0000185-01,2018-09-12 오후 6:31,2018-09-16 오전 5:32,1916750,953.0,17,PC쇼핑몰,20180907
29160,무통장입금,D-20180813-0000272-01,2018-08-13 오후 6:34,2018-08-17 오전 5:32,1825800,953.0,17,PC쇼핑몰,20180813
25539,카드,D-20180704-0000240-01,2018-07-05 오전 9:16,2018-07-13 오전 9:07,678400,219.0,20,네이버 페이,20180704
24512,무통장입금,D-20180620-0000432-00,2018-06-28 오후 6:34,2018-07-02 오전 5:32,4963400,92.0,46,PC쇼핑몰,20180620
38590,무통장입금,D-20181112-0000709-00,2018-11-16 오전 9:10,2018-11-20 오전 5:32,100000,581.0,50,PC쇼핑몰,20181112

- 미션 1

- 수량이 높으면서, 상품구매금액은 낮은 100명의 고객을 추출 
- result2.xlsx 
- 채팅방에 송부

In [45]:
df1.sort_values(by=['수량','상품구매금액'],
                ascending=[False, True]).head(100).to_excel('result2.xlsx')

**데이터 필터**

In [47]:
df1['주문경로'].unique() # 범주형 데이터의 항목 확인

array(['PC쇼핑몰', '모바일웹', '네이버 페이'], dtype=object)

In [48]:
df1['주문경로']=='네이버 페이' 
# 조건에 부합하는 값을 True / 아닌 값을 False로 출력하는 Series

0        False
1        False
2        False
3        False
4        False
         ...
46744    False
46745    False
46746     True
46747     True
46748    False
Name: 주문경로, Length: 46749, dtype: bool

In [50]:
cond1 = (df1['주문경로']=='네이버 페이')
df1.loc[cond1] # loc (location) : 특정 조건에 부합하는 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
40,카드,D-20190101-0000049-01,2019-01-03 오전 9:32,2019-01-07 오후 7:01,132500,92.0,1,네이버 페이,20190101
41,카드,D-20190101-0000055-01,2019-01-03 오전 9:32,2019-01-09 오후 3:47,42350,1283.0,1,네이버 페이,20190101
47,적립금,D-20190101-0000106-01,2019-01-03 오전 9:30,2019-01-13 오전 7:19,68970,38.0,1,네이버 페이,20190101
57,카드,D-20190101-0000145-01,2019-01-03 오전 9:30,2019-01-07 오후 6:01,78870,603.0,1,네이버 페이,20190101
58,휴대폰,D-20190101-0000153-01,2019-01-03 오전 9:30,2019-01-03 오후 11:15,41910,1350.0,1,네이버 페이,20190101
...,...,...,...,...,...,...,...,...,...
46739,카드,D-20171228-0000132-03,2017-12-29 오후 4:34,2018-01-03 오전 9:20,47300,248.0,1,네이버 페이,20171228
46740,카드,D-20171228-0000132-04,2017-12-29 오후 4:34,2018-01-07 오전 4:55,69960,293.0,1,네이버 페이,20171228
46741,카드,D-20171228-0000132-05,2017-12-29 오후 4:34,2018-01-07 오전 4:55,63140,305.0,1,네이버 페이,20171228
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.0,1,네이버 페이,20171230
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.0,1,네이버 페이,20171231

In [51]:
# 주문경로가 '네이버 페이'인 고객들 중, 수량이 높은 상위 100명의 명단을 추출 
cond1 = (df1['주문경로']=='네이버 페이')
df1.loc[cond1].sort_values(by='수량',ascending=False).head(100)

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
25539,카드,D-20180704-0000240-01,2018-07-05 오전 9:16,2018-07-13 오전 9:07,678400,219.0,20,네이버 페이,20180704
46738,카드,D-20171228-0000132-02,2017-12-29 오후 4:34,2018-01-03 오전 10:38,76600,107.0,10,네이버 페이,20171228
18467,카드,D-20180207-0000244-01,2018-02-07 오후 5:19,2018-02-19 오후 9:48,700000,603.0,10,네이버 페이,20180207
20721,카드,D-20180422-0000041-01,2018-04-23 오후 6:42,2018-04-24 오후 4:21,757000,481.0,10,네이버 페이,20180422
21601,카드,D-20180509-0000491-01,2018-05-10 오후 6:24,2018-05-16 오후 12:04,339200,217.0,10,네이버 페이,20180509
...,...,...,...,...,...,...,...,...,...
22104,카드,D-20180516-0000218-01,2018-05-17 오후 1:30,2018-05-22 오전 10:10,121080,447.0,2,네이버 페이,20180516
8183,카드,D-20190314-0000927-04,2019-03-15 오후 6:24,2019-03-24 오전 2:49,100540,1373.0,2,네이버 페이,20190314
8182,카드,D-20190314-0000927-03,2019-03-15 오후 6:24,2019-03-24 오전 2:49,117620,1374.0,2,네이버 페이,20190314
22133,무통장입금,D-20180516-0000387-01,2018-05-18 오전 11:08,2018-05-22 오전 9:02,121080,447.0,2,네이버 페이,20180516
8228,카드,D-20190314-0001226-01,2019-03-15 오후 6:24,2019-03-24 오전 3:51,121440,42.0,2,네이버 페이,20190314

In [53]:
# 주문수량이 10개 이상인 명단을 추출하여, result3.xlsx 저장 
cond1 = (df1['수량']>=10)
df1.loc[cond1].to_excel('result3.xlsx')

In [55]:
# PC 쇼핑몰로 구매한 고객 중, 구매수량이 5개 이상인 고객만 추출 
cond1 = (df1['주문경로']=='PC쇼핑몰')
cond2 = (df1['수량']>=5)
df1.loc[cond1 & cond2] #  & : 두 조건을 모두 만족되는 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
246,"적립금,무통장입금",D-20190103-0000244-00,2019-01-03 오후 6:19,2019-01-07 오전 5:32,601920,1374.0,8,PC쇼핑몰,20190103
247,"적립금,무통장입금",D-20190103-0000244-01,2019-01-03 오후 6:19,2019-01-07 오전 5:32,444290,1373.0,7,PC쇼핑몰,20190103
613,무통장입금,D-20190107-0000308-00,2019-01-08 오후 6:57,2019-01-12 오전 5:32,56450,1265.0,5,PC쇼핑몰,20190107
630,무통장입금,D-20190107-0000411-00,2019-01-11 오전 10:10,2019-01-15 오전 5:32,336600,1282.0,5,PC쇼핑몰,20190107
1308,무통장입금,D-20190114-0000174-04,2019-01-16 오전 9:01,2019-01-20 오전 5:32,376200,1374.0,5,PC쇼핑몰,20190114
...,...,...,...,...,...,...,...,...,...
45885,"쿠폰,무통장입금",D-20170904-0000042-01,2017-09-04 오후 4:49,2017-09-10 오전 5:36,556200,376.0,6,PC쇼핑몰,20170904
45954,"적립금,카드",D-20170920-0000021-01,2017-09-20 오후 5:38,2017-09-26 오전 5:34,268000,455.0,5,PC쇼핑몰,20170920
46107,카드,D-20171020-0000024-00,2017-10-20 오후 3:49,2017-10-26 오전 5:38,262500,174.0,5,PC쇼핑몰,20171020
46270,카드,D-20171113-0000056-00,2017-11-13 오후 1:45,2017-11-17 오전 5:38,316800,446.0,6,PC쇼핑몰,20171113
46647,카드,D-20171219-0000055-00,2017-12-19 오후 4:36,2017-12-23 오전 5:36,269500,455.0,5,PC쇼핑몰,20171219

In [57]:
cond1 = (df1['주문경로']=='PC쇼핑몰')
cond2 = (df1['주문경로']=='네이버 페이')
df1.loc[cond1 | cond2] # | : 두 조건 중 하나이상 만족되는 데이터를 추출

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
6,무통장입금,D-20181231-0000184-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,82170,1071.0,1,PC쇼핑몰,20181231
7,무통장입금,D-20181231-0000184-01,2019-01-03 오전 9:30,2019-01-07 오전 5:32,63470,1373.0,1,PC쇼핑몰,20181231
8,무통장입금,D-20181231-0000184-02,2019-01-03 오전 9:30,2019-01-07 오전 5:32,300960,1374.0,4,PC쇼핑몰,20181231
9,무통장입금,D-20181231-0000184-03,2019-01-03 오전 9:30,2019-01-07 오전 5:32,121110,1037.0,1,PC쇼핑몰,20181231
...,...,...,...,...,...,...,...,...,...
46739,카드,D-20171228-0000132-03,2017-12-29 오후 4:34,2018-01-03 오전 9:20,47300,248.0,1,네이버 페이,20171228
46740,카드,D-20171228-0000132-04,2017-12-29 오후 4:34,2018-01-07 오전 4:55,69960,293.0,1,네이버 페이,20171228
46741,카드,D-20171228-0000132-05,2017-12-29 오후 4:34,2018-01-07 오전 4:55,63140,305.0,1,네이버 페이,20171228
46746,카드,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,36000,140.0,1,네이버 페이,20171230
46747,카드,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,73460,184.0,1,네이버 페이,20171231

- 미션2 

- '주문경로'가 '모바일 웹' 주문한 사람들 중 
- '상품구매금액'이 100,000원 이상인 고객들을 추출하여,
- '수량'이 높은 상위 30명의 고객 명단을 추출 
- result_member.xlsx 
- 채팅창에 송부 (45분까지)

In [59]:
df1['주문경로'].unique()

array(['PC쇼핑몰', '모바일웹', '네이버 페이'], dtype=object)

In [ ]:
모바일웹

In [2]:
cond1 = (df1['주문경로']=='모바일웹')
cond2 = (df1['상품구매금액']>=100000)

df1.loc[cond1&cond2].sort_values(by='수량', 
                       ascending=False).head(30).to_excel('result_member.xlsx')

NameError: name 'df1' is not defined

In [62]:
297.375**(1/2)

17.244564360980533

# 기술 통계량 확인

**범주형 데이터 통계량 확인**

In [1]:
# 범주형 데이터의 항목을 확인 
df1['결제수단'].unique()

NameError: name 'df1' is not defined

In [65]:
# 범주형 데이터의 빈도수를 확인 
df1['결제수단'].value_counts()

무통장입금                 24171
카드                    13703
적립금,무통장입금              3374
쿠폰,카드                  1306
적립금,카드                 1276
쿠폰,무통장입금               1204
휴대폰                     430
실시간계좌이체                 322
예치금,무통장입금               175
가상계좌                    130
카드,무통장입금                100
카카오페이(카드)                77
쿠폰,휴대폰                   67
페이나우(카드)                 50
예치금,적립금,무통장입금            47
적립금,휴대폰                  37
적립금,가상계좌                 30
예치금,카드                   28
예치금                      25
카카오페이(카카오머니)             22
페이나우(실시간 계좌이체)           21
에스크로(실시간계좌이체)            20
쿠폰,카카오페이(카드)             16
적립금                      16
쿠폰,카드,무통장입금              13
쿠폰,페이나우(카드)              11
적립금,페이나우(카드)              9
무통장입금,휴대폰                 9
예치금,적립금,카드                8
적립금,카카오페이(카드)             7
쿠폰,에스크로(실시간계좌이체)          6
예치금,쿠폰,무통장입금              6
적립금,실시간계좌이체               6
예치금,휴대폰                   5
쿠폰,가상계좌                   4
예치금,쿠폰,카드                 4
적립금,페이나우(실시간 계좌이체)        3
적립금,카카오페이(카카오머니)          3
적립금,카드,무통장입금              2
무통장입금,실시간계좌이체             2
에스크로(가상계좌)                1
쿠폰,예치금                    1
예치금,실시간계좌이체               1
페이나우(카드),무통장입금            1
Name: 결제수단, dtype: int64

In [66]:
df1['주문경로'].value_counts()

PC쇼핑몰     25695
모바일웹      18531
네이버 페이     2523
Name: 주문경로, dtype: int64

In [67]:
df1.describe(include='object')
# 모든 범주형 데이터의 항목 확인
# count: 데이터 수 / unique: 항목 수 / top: 가장 많은 항목 / freq: 가장많은 항목의 수

,결제수단,배송번호,배송시작일,배송완료일,주문경로
count,46749,46749,46749,46749,46749
unique,44,37691,1548,2559,3
top,무통장입금,D-20180316-0000178-00,2018-12-19 오후 5:36,2019-02-02 오전 5:32,PC쇼핑몰
freq,24171,7,388,547,25695

**연속형 숫자데이터 기술통계량**

In [70]:
df1['상품구매금액'].mean() # 평균

69368.14445228774

In [71]:
df1['상품구매금액'].median() # 중앙값

67780.0

In [72]:
df1['상품구매금액'].max() # 최대값

4963400

In [73]:
df1['상품구매금액'].min() # 최소값

0

In [74]:
df1['상품구매금액'].var() # 분산

4370858371.538675

In [75]:
df1['상품구매금액'].std() # 표준편차

66112.46759529306

In [76]:
# 모든 연속형 숫자데이터의 기술통계량 확인 
df1.describe()
# count : 데이터 수 / mean : 평균 / std : 표준편차
# min , max : 최소 최대값 / 50% :  중앙값

             상품구매금액          상품번호            수량           주문일
count  4.674900e+04  46661.000000  46749.000000  4.674900e+04
mean   6.936814e+04    763.193073      1.177822  2.018404e+07
std    6.611247e+04    456.323734      0.683334  5.192403e+03
min    0.000000e+00     38.000000      1.000000  2.017010e+07
25%    3.288000e+04    378.000000      1.000000  2.018073e+07
50%    6.778000e+04    928.000000      1.000000  2.018112e+07
75%    9.213000e+04   1209.000000      1.000000  2.019022e+07
max    4.963400e+06   1681.000000     50.000000  2.019062e+07

In [77]:
# 숫자데이터 + 문자데이터 기술통계량을 같이 확인
df1.describe(include=['object','int64','float64'])

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
count,46749,46749,46749,46749,4.674900e+04,46661.000000,46749.000000,46749,4.674900e+04
unique,44,37691,1548,2559,NaN,NaN,NaN,3,NaN
top,무통장입금,D-20180316-0000178-00,2018-12-19 오후 5:36,2019-02-02 오전 5:32,NaN,NaN,NaN,PC쇼핑몰,NaN
freq,24171,7,388,547,NaN,NaN,NaN,25695,NaN
mean,NaN,NaN,NaN,NaN,6.936814e+04,763.193073,1.177822,NaN,2.018404e+07
std,NaN,NaN,NaN,NaN,6.611247e+04,456.323734,0.683334,NaN,5.192403e+03
min,NaN,NaN,NaN,NaN,0.000000e+00,38.000000,1.000000,NaN,2.017010e+07
25%,NaN,NaN,NaN,NaN,3.288000e+04,378.000000,1.000000,NaN,2.018073e+07
50%,NaN,NaN,NaN,NaN,6.778000e+04,928.000000,1.000000,NaN,2.018112e+07
75%,NaN,NaN,NaN,NaN,9.213000e+04,1209.000000,1.000000,NaN,2.019022e+07
max,NaN,NaN,NaN,NaN,4.963400e+06,1681.000000,50.000000,NaN,2.019062e+07

In [78]:
df1.describe(include=['object','int64','float64']).to_excel('result3.xlsx')

# 데이터 전처리 2

- 데이터 요약
- 데이터 병합

In [80]:
df1['주문경로'].value_counts()

PC쇼핑몰     25695
모바일웹      18531
네이버 페이     2523
Name: 주문경로, dtype: int64

In [81]:
df1['상품구매금액'].mean()

69368.14445228774

- 채널 분석 (주문 경로에 따라 매출액의 차이가 있을까?)

In [82]:
# '주문 경로'에 대한 '상품 구매금액'의 평균을 계산 
df1.pivot_table(index='주문경로', values='상품구매금액')

              상품구매금액
주문경로
PC쇼핑몰   68365.458844
네이버 페이  82433.872374
모바일웹    68979.561815

In [83]:
df1.pivot_table(index='주문경로',values='상품구매금액',aggfunc='median')

        상품구매금액
주문경로
PC쇼핑몰    67650
네이버 페이   73850
모바일웹     67320

In [84]:
df1.pivot_table(index='주문경로',values='상품구매금액',
                aggfunc=['mean','median','max'])
# 데이터 개수가 많으면 많을 수록, 이상치에 의한 변동효과가 줄어든다

                mean median      max
              상품구매금액 상품구매금액   상품구매금액
주문경로
PC쇼핑몰   68365.458844  67650  4963400
네이버 페이  82433.872374  73850   757000
모바일웹    68979.561815  67320  1325000

In [85]:
df1.pivot_table(index='주문경로',values='상품구매금액',
                aggfunc=['mean','median','max']).to_excel('result4.xlsx')

In [86]:
df1.pivot_table(index='주문경로',values=['상품구매금액','수량'],
               aggfunc='sum')

            상품구매금액     수량
주문경로
PC쇼핑몰   1756650465  30292
네이버 페이   207980660   3057
모바일웹    1278260260  21713

In [88]:
df1.pivot_table(index=['주문경로','결제수단'],values='수량',aggfunc='sum')

                         수량
주문경로  결제수단
PC쇼핑몰 가상계좌               71
      무통장입금           20908
      무통장입금,실시간계좌이체       2
      무통장입금,휴대폰           3
      실시간계좌이체           151
...                     ...
모바일웹  쿠폰,휴대폰             43
      페이나우(실시간 계좌이체)     21
      페이나우(카드)           46
      페이나우(카드),무통장입금      1
      휴대폰               304

[74 rows x 1 columns]

In [89]:
df1.pivot_table(index='주문경로',values='수량',aggfunc='sum',columns='결제수단')

결제수단,가상계좌,무통장입금,"무통장입금,실시간계좌이체","무통장입금,휴대폰",실시간계좌이체,에스크로(가상계좌),에스크로(실시간계좌이체),예치금,"예치금,무통장입금","예치금,실시간계좌이체",...,"쿠폰,예치금","쿠폰,카드","쿠폰,카드,무통장입금","쿠폰,카카오페이(카드)","쿠폰,페이나우(카드)","쿠폰,휴대폰",페이나우(실시간 계좌이체),페이나우(카드),"페이나우(카드),무통장입금",휴대폰
주문경로,,,,,,,,,,,,,,,,,,,,,
PC쇼핑몰,71.0,20908.0,2.0,3.0,151.0,1.0,30.0,34.0,165.0,3.0,...,NaN,526.0,3.0,2.0,2.0,26.0,NaN,14.0,NaN,100.0
네이버 페이,NaN,408.0,NaN,NaN,279.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
모바일웹,103.0,6951.0,NaN,6.0,NaN,NaN,NaN,NaN,38.0,NaN,...,1.0,938.0,10.0,14.0,11.0,43.0,21.0,46.0,1.0,304.0

- 미션 4

- 결제수단에서 '무통장입금' 데이터만 추출 
- 주문 경로 별, 상품 구매금액의 합/평균/중앙값을 계산한 데이터 테이블 생성
- result5.xlsx 
- 채팅창에 업로드 (23분 까지)

In [93]:
cond1 = (df1['결제수단']=='무통장입금')
df1.loc[cond1].pivot_table(index='주문경로',values='상품구매금액',
                          aggfunc=['sum','mean','median']).to_excel('result5.xlsx')

- 숙제 

1.  연체건수가 가장 높은 고객 50명 추출 
    -> result_ex1.xlsx
2.  결제은행'현대카드'를 이용해서 결제한 고객 중, '월랜탈비용'이 높은 상위 100명 추출 
    -> result_ex2.xlsx 
3.  판매유형이 '렌탈'이면서, 계약기간이 30개월 이상인 고객들을 추출 한 뒤, 
    연체건수가 낮은 순서대로 정렬 
    -> result_ex3.xlsx
4.  제품군에서 DES-1 제품을 사용하는 고객들을 추출, 
    결제 은행 별, 월랜탈비용의 합을 계산한 테이블(pivot) 
    -> result_ex4.xlsx 
5.  Data03.csv 데이터의 연속형데이터의 요약 통계량을 계산해서 (describe)  
    -> result_ex5.xlsx
6.  분석 스크립트 까지 송부 
    -> ex1.ipynb 
    
- 0001jmp@gmail.com (기한 : 11월 12일->13일 00시00분 까지)

In [94]:
pd.read_csv('Data03.csv')

,고객ID,판매유형,계약유형,유통경로,계약일,계약기간,납부유형,제품군,월랜탈비용,계약상태,연체건수,연체여부,신용등급,결제은행,해약여부
0,66758234,렌탈,일반,서비스 방문,10-20-2014,60,CMS,DES-1,96900,계약확정,0,없음,9.0,새마을금고,정상
1,66755948,렌탈,교체렌탈,서비스 방문,10-20-2014,60,카드이체,DES-1,102900,계약확정,0,없음,2.0,현대카드,정상
2,66756657,렌탈,일반,홈쇼핑/방송,10-20-2014,60,CMS,DES-1,96900,계약확정,0,없음,8.0,우리은행,정상
3,66423450,멤버십,멤버십S,렌탈재계약,10-20-2014,12,CMS,DES-1,66900,계약확정,0,없음,5.0,농협회원조합,정상
4,66423204,멤버십,멤버십S,렌탈재계약,10-20-2014,12,CMS,DES-1,66900,해약확정,12,있음,8.0,농협회원조합,해약
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51299,66579515,NaN,프로모션,R관리방판,02-03-2015,60,무통장,DES-3A,96900,계약확정,0,없음,NaN,롯데카드,정상
51300,66799558,렌탈,일반,영업방판,02-03-2015,60,카드이체,DES-1,96900,해약확정,0,없음,8.0,롯데카드,해약
51301,66799197,렌탈,프로모션,홈쇼핑/방송,02-03-2015,39,무통장,ERA,120900,해약확정,0,없음,1.0,NaN,해약
51302,66792778,NaN,일반,렌탈총판,02-03-2015,60,카드이체,DES-1,96900,계약확정,0,없음,2.0,신한카드,정상
51303,66799607,렌탈,일반,하이마트,02-03-2015,60,CMS,DES-1,96900,해약확정,0,없음,8.0,농협회원조합,해약

- 판매량 분석 (일자 별 총 판매량) 
- 채널 분석 (주문 경로 분석) 
- 배송기간 분석